body {
    background-color:rgba(45, 88, 21, 0);
   font-family: 'Brush Script MT', cursive;
    
    
}




h1 {
 
    color:DarkOrchid;
}




h2 {  
    font-family: 'Courier New', monospace;
    color:DarkViolet;
}


h3 {
    
color:rgb(255, 0, 255);
    
    
    
}